*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    color: #000000;
}

img{
    width: 100%;

}
.perfil{
    width: 200px;
    margin: 25px;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
ul{
    text-align: center;
}
.centralizar{
    text-align: center;
}
nav{
    text-align: center;
    margin: 15px;
}
div{
    display: flex;
    flex-direction: column;
}
a{
    margin-bottom: 10px;
    margin-top: 10px;
}
main{
    width: 100%;
}
a:link, a:visited{
    color: #00007d;
    text-decoration: none;
}
nav>div>a{
    font-size: 1.25em;
    padding: 9px 10px;
}
nav>div>a:link, nav>div>a:visited{
    color: #7e7e7e;
}

nav>span>a:hover, .selecionado a{
    background: #000164;
    text-decoration: none;
    border-radius: 10px 1px;
}
footer{
    background-color:#c0c0c0 ;
    text-align: center;
    padding: 10px;
}
@media (min-width: 768px) and (max-width: 1366px) {
    nav>div>a{
        font-size: 1.25em;
        padding: 9px 10px;
    }
    nav>div>a:link, nav>div>a:visited{
        color: #7e7e7e;
    }
    
    nav>span>a:hover, .selecionado a{
        background: #000164;
        text-decoration: none;
        border-radius: 10px 1px;
    }
    div{
        display: inline;
    }
    .rodape{
        display: block;
    }
    main{
        margin-bottom: 20px;
    }
    .lateralizar{
        text-align: left;
    }
    body{
        font-size: 1.5em;
    }
    .perfil{
        width: 500px;
    }
}